.slider-section {
    height: 105vh;
    position: relative;
    overflow: hidden;
    min-height: 400px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

@media (max-width: 1024px) {
    .slider-section {
        height: 60vh;
        min-height: 350px;
    }
}

@media (max-width: 768px) {
    .slider-section {
        height: 50vh;
        min-height: 300px;
    }

    .slide {
        background-size: cover;
        background-position: center center;
    }
}

@media (max-width: 480px) {
    .slider-section {
        height: 40vh;
        min-height: 250px;
    }
}

@media (max-width: 360px) {
    .slider-section {
        height: 35vh;
        min-height: 220px;
    }
}