.card {
    padding: 40px;
    background: #fdfdf5;
    border-bottom: 5px solid #002f5e;
    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}

.card:hover {
    transform: translateY(-10px);
}

.card i {
    font-size: 3rem;
    color: #002f5e;
    margin-bottom: 20px;
}

.card h3 {
    color: #002f5e;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.card p {
    color: #444;
    line-height: 1.6;
}